<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="hello.css">
    <link rel="icon" href="simon.jpeg">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <title>Simon says Game</title>
</head>
<body>
    <h1>Simon Says Game</h1>
    <h2>Press any key to Start</h2>
    <div class="main">
        <div class="con-1">
            <div class="box red" type="button" id="red"></div>
            <div class="box yellow" type="button" id="yellow"></div>
        </div>
        <div class="con-2">
            <div class="box green" type="button" id="green"></div>
            <div class="box purple" type="button" id="purple"></div>
        </div>
    </div>
    <script src="hello.js"></script>
</body>
</html>